.modal {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: center;
  padding: 36px 75px;

  &__title {
    font-size: $fs-32;
    line-height: $lh-34;
  }

  &__text {
    font-size: $fs-14;
    line-height: $lh-20;
  }

  &__time {
    font-size: $fs-14;
    line-height: $lh-20;

    &__param {
      font-size: $fs-18;
      line-height: $lh-24;
    }
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;

    &__square {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: relative;
      background: $color-primary-original;
      box-sizing: border-box;
      animation: animloader 3.5s linear infinite;
      margin-bottom: 40px;
      margin-right: 40px;
    }
  }
}

@keyframes animloader {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
