.layout {
  display: flex;

  .navBar {
    display: none;

    @include desktop {
      display: block;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.stream {
  display: none;
  object-fit: contain;

  &__status {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1600;
    transform: translate(-50%, -50%);

    &.isTest {
      display: none;
    }
  }
}
