.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 15px;
  margin-top: 80px;

  &__breadcrumbs {
    display: flex;
    gap: 8px;

    &__text {
      cursor: pointer;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__media {
    position: relative;
    &__device {
      position: absolute;
      left: 16px;
      bottom: 16px;
    }
    &__image {
      width: 100%;
      height: auto;
      max-height: 340px;
      object-fit: cover;
    }

    &__gallery {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      justify-content: center;
      height: 100%;
      right: 0;
      top: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: $fs-24;
    line-height: $lh-28;

    &__badge {
      display: flex;
      gap: 8px;
      padding: 6px 8px;
      border-radius: 4px;
      background-color: $color-black;
      opacity: 0.8;
      width: max-content;
      font-size: $fs-14;
      line-height: $lh-18;
    }

    @include tablet {
      font-size: $fs-32;
      line-height: $lh-34;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__badge {
        font-size: $fs-16;
        line-height: $lh-22;
      }
    }
  }

  &__btn {
    margin: 0 25px;
  }

  &__description {
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    .isOpen & {
      &__text {
        max-height: 100%;
        overflow: visible;
      }

      &__icon {
        transform: rotate(180deg);
        color: red;
      }
    }

    &__text {
      margin-top: 15px;
      font-size: $fs-14;
      line-height: $lh-20;
      height: 100%;
      max-height: 120px;
      overflow: hidden;
    }

    &__icon {
      @include transition(transform, 0.3s);
    }

    &__btn {
      font-size: $fs-16;
      font-weight: 700;
      line-height: $lh-22;
      color: $color-primary-original;
      padding: 0;
      margin-top: 12px;
    }

    &__image {
      width: 100%;
      height: auto;
      padding: 15px;
    }

    @include desktop {
      display: block;

      &__image {
        float: right;
        width: 540px;
        height: 303px;
      }
    }
  }

  &__gallery {
    display: flex;
    justify-content: space-evenly;

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    padding: 25px 20px;
  }

  @include desktop {
    margin-left: 80px;
    @include transition();

    &.isNavBarOpen {
      margin-left: 200px;
    }
  }
}
